.home-root {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    background: #000;
    overflow: hidden;
    // background-image: url('@/assets/images/bgp.png');

    canvas {
        filter: blur(0.5px);
    }
}